<html>
    <h2>Стоимость</h2>
    <table border=2>
        <col width="2%">
        <col width="10%">
        <col width="8%">
        <tr>
            <td>id</td>
            <td>Название</td>
            <td>Рецепт</td>
            <td>Цена</td>
        </tr>
        {% for medicine in medicines %}
        <tr>    
            <td>{{ medicine.medicine.id }}</td>
            <td>{{ medicine.medicine.name }}</td>
            {% if medicine.medicine.is_recipe %}
            <td>Необходим</td>
            {% else %}
            <td>Нет</td>
            {% endif %}
            <td>{{ medicine.cost }}</td>
        </tr>
        {% endfor %}
    </table>
</html>
